.wrap { flex-wrap: wrap; }

/* ABOUT PAGE */
.about-page-container {
    display: flex;
}

.about-container-one, .motivation-container, .work-for-us-container, .history-container {
    width: 1200px;
    margin-left: 120px;
    border-radius: 20px;
    border: 2px solid #a32a41;
}

.about-container-one, .work-for-us-container {
    background-color: #417D6C;
}

.motivation-container, .history-container {
    background-color: #528DB1;
}

.about-container-one, .motivation-container, .work-for-us-container, .history-container {
    margin-top: 50px;
}

.history-container {
    margin-bottom: 100px;
}

#text-container-about {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#header-text-about h1 {
    color: #a32a41;
    font-size: 40px;
}

#paragraph-text-about p {
    color: #ffffff;
    font-size: 25px;
}

/* END ABOUT PAGE */

/*CONTACT PAGE*/

.contact-us-container {
    display: flex;
}

.contact-container-one {
    background-color: #528DB1;
    width: 1200px;
    margin-left: 120px;
    border-radius: 20px;
    border: 2px solid #a32a41;
}

#text-container-contact {
    text-align: center;
    color: #ffffff;
}

#header-contact h1 {
    font-size: 40px;
}

#paragraph-contact p {
    font-size: 25px;
}

.contact-container-short, .contact-container-short-two {
    width: 600px;
    border-radius: 20px;
}

.contact-container-short {
    background-color: #417D6C;
    border: 2px solid #a32a41;
}

.contact-container-short-two {
    background-color: #a32a41;
    border: 2px solid #ffffff;
}

.contact-container-short, .contact-container-short-two {
    margin-top: 30px;
    margin-left: 80px;
}

.contact-container-longer {
    background-color: #000000;
    width: 1300px;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 2px solid #ffffff;
}

#header-contact-longer h1 {
    font-size: 30px;
}

#paragraph-contact-longer p {
    font-size: 17px;
}