.about-page-container {
    display: flex;
}

.about-container-one, .motivation-container, .work-for-us-container, .history-container {
    width: 1200px;
    margin-left: 120px;
    border-radius: 20px;
    border: 2px solid #a32a41;
}

.about-container-one, .work-for-us-container {
    background-color: #417D6C;
}

.motivation-container, .history-container {
    background-color: #528DB1;
}

.about-container-one, .motivation-container, .work-for-us-container, .history-container {
    margin-top: 50px;
}

.history-container {
    margin-bottom: 100px;
}

#text-container-about {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#header-text-about h1 {
    color: #a32a41;
    font-size: 40px;
}

#paragraph-text-about p {
    color: #ffffff;
    font-size: 25px;
}