html, body, main.page-body {
    background-image: url('https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.wrap { flex-wrap: wrap; }

.popup-sith-files {
    display: none; 
    position: fixed; /* Stay in place */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    z-index: 2; /* Sit on top */
    margin-top: -180px;
    height: 600px;
    width: 1500px;

}

.popup-content-sith-files {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D30101;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    cursor: pointer;
}

.popup-content-sith-files p {
    font-size: 15px;
}

.sith-files-category {
    display: flex;
}

#files-photo-category {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#files-photo-category img {
    width: 300px;
    height: 190px;
    border-radius: 15px;
}

.files-info-category {
    background-color: #ffffff;
    width: 300px;
    height: 190px;
}

.files-info-category h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

.files-info-category p {
    font-size: 17px;
    text-align: center;
}

.files-button {
    width: 150px;
    background-color: #D30101;
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
    border-radius: 15px;
    margin-top: 20px;
}

.files-button a {
    text-decoration: none;
    color: #ffffff;
}

.files-info-category {
    margin-top: -40px;
    margin-left: -0px;
}

.building-plans-category, .sith-lords-notes, .war-beasts-option, .army-option, .rim-campaign-from-sith-view, .training-code-sith, .history-of-sith, .combate-lightsaber-armor-sith, .sith-holocrons, .the-prophecy-of-the-sith-ari, .rim-campaign-sith-container, .the-power-of-sith-container, .the-mistakes-of-ruusan-container, .the-tittle-of-darth-container, .striking-from-the-shadows, .selecting-an-apprentice, .the-revenge-of-the-sith, .personal-combat-sith, .lightsaber-construction, .sith-lighstaber-varaints, .sith-lightsaber-combat, .sith-using-the-saberstaff, .sith-armor, .sith-dark-side-combat {
    margin-left: 40px;
}

.rim-campaign-from-sith-view, .training-code-sith, .history-of-sith, .combate-lightsaber-armor-sith, .sith-holocrons, .the-prophecy-of-the-sith-ari, .rim-campaign-sith-container, .the-power-of-sith-container, .the-mistakes-of-ruusan-container, .the-tittle-of-darth-container, .striking-from-the-shadows, .selecting-an-apprentice, .the-revenge-of-the-sith, .personal-combat-sith, .lightsaber-construction, .sith-lighstaber-varaints, .sith-lightsaber-combat, .sith-using-the-saberstaff, .sith-armor, .sith-dark-side-combat  {
    margin-top: 30px;
}
.sith-lightsaber-combat, .sith-using-the-saberstaff, .sith-armor, .sith-dark-side-combat {
    margin-bottom: 100px;
}

/*END OF SITH FILES*/

/*Organization Files */
.orgnaization-files-category {
    display: flex;
}


/*The night sisters*/
.night-sisters-files-category {
    display: flex;
}

.the-living-force-and-the-dark-side, .hisotry-of-dathomir, .history-of-the-nightsisters, .the-fanged-god, .talismans-and-totems, .beasts-of-dathhomir, .training-a-warrior, .insturction-and-transformation, .competing-dark-side-traditions {
    margin-left: 30px;
}

.the-winged-goddes, .the-fanged-god, .talismans-and-totems, .beasts-of-dathhomir, .natures-vigor, .training-a-warrior, .insturction-and-transformation, .competing-dark-side-traditions {
    margin-top: 30px;
}

.the-winged-goddes, .natures-vigor  {
    margin-left: 40px;
}

.competing-dark-side-traditions, .insturction-and-transformation, .training-a-warrior, .natures-vigor {
    margin-bottom: 100px;
}

/*JEDI FILES*/
.jedi-files-category {
    display: flex;
}

.jedi-code-option, .the-history-of-the-jedi-order, .strucutre-of-the-jedi-order, .joining-a-clan, .attire-and-comportment, .the-three-pillars, .the-first-pillar-the-force, .what-is-the-dark-side-jedi, .the-second-pillar-jedi, .galaxy-stars-planets-option, .galatic-bestiary-option {
    margin-left: 40px;
}

.jedi-code-option, .the-history-of-the-jedi-order, .strucutre-of-the-jedi-order, .joining-a-clan, .attire-and-comportment, .the-three-pillars, .the-first-pillar-the-force, .what-is-the-dark-side-jedi, .the-second-pillar-jedi, .galaxy-stars-planets-option, .galatic-bestiary-option {
    margin-top: 30px;
}

/*PLANET FILES*/
.planet-files-category {
    display: flex;
}
