html, body, main.page-body {
    background-image: url('https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.wrap { flex-wrap: wrap; }

/* NOTES CARD */

.notes-from-every-sith {
    display: flex;
}

.notes-from-every-sith, .exile-and-arival-note-post, .the-first-great-schism-note-post, .the-hundred-year-darkness-note-post, .the-new-truth-note-post, .proud-people-of-sith-note-post {
    margin-left: 25px;
}

.the-new-truth-note-post img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#box-image img {
    width: 350px;
    height: 250px;
    border-radius: 15px;
}

.box-text-box {
    background-color: #ffffff;
    width: 350px;
    border-radius: 15px;
    height: 100px;
    /*
    margin-top: -260px;
    If the text box should be placed at the top of the image
    */
    margin-top: -108px;
    position: absolute;
}

.box-text-box h1 {
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}

#box-button {
    font-size: 20px;
    margin-left: 90px;
    text-align: center;
    margin-top: 20px;
    width: 180px;
    border-radius: 15px;
    border: 2px solid #000000;
    background-color: #a32a41;
}

#box-button a {
    color: #ffffff;
    text-decoration: none;
}

/* END NOTES CARD */

/* NOTES STYLING */

.note-container {
    background-color: #ffffff;
    border-radius: 20px;
    width: 1200px;
    margin-left: 150px;
    border: 2px solid #a32a41;
}

.note-container h1 {
    font-size: 50px;
}

.note-container h2 {
    font-size: 35px;
}

.note-container p {
    font-size: 20px;
    color: #a32a41;
}

.note-container h1, .note-container h2, .note-container p {
    text-align: center;
}

#comment-from-cia-note-container, #longer-comment-from-cia-note-container {
    background-color: #a32a41;
    border-radius: 20px;
    line-height: 20px;
    margin-left: 250px;
    border: 2px solid #000000;
}

#comment-from-cia-note-container {
    width: 700px;
    height: 150px;
    margin-bottom: 20px;
}

#longer-comment-from-cia-note-container {
    width: 800px;
    height: 200px;
    margin-bottom: 20px;
}

#comment-from-cia-note-container p, #longer-comment-from-cia-note-container p {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#smaller-text-inside-comment p {
    font-size: 20px;
}

/* END NOTES STYLING */

/* SITH FILES */
.sith-weapons-intro, .last-page-content-sith {
    background-color: #ffffff;
    width: 1000px;
    margin-left: 220px;
    border-radius: 15px;
    border: 2px solid #a32a41;
    text-align: center;
    font-size: 25px;
}

.last-page-content-sith {
    margin-top: 40px;
    margin-bottom: 100px;
}

.swith-weapoons-container, .sith-amulets-container, .sith-holocrons-container, .sith-war-beasts-container, .sith-alchemy-container, .sith-incantations-container, .sith-code-container, .sith-prophecy-of-the-sith-ari {
    display: flex;
}

.sith-swords, .sith-war-swords, .sith-lanvarok, .sith-parang, .sith-shikkar, .sith-posion, .stif-abattar, .yoke-of-seeming, .heart-of-grausy, .meditation-sphere, .muur-talisman, .sith-holocrone-one, .sith-holocrone-two, .sith-holocrones-three, .sith-holocrones-four, .sith-war-beasts-one, .sith-war-beasts-two, .stih-war-beasts-three, .sith-war-beasts-four, .sith-war-beasts-five, .sith-war-beasts-six, .sith-war-beasts-seven, .sith-alchemy-one, .sith-alchemy-two, .sith-alchemy-three, .sith-incantations, .sith-incantations-one, .sith-incantations-two, .sith-incantations-three, .sith-incantations-four, .sith-incantations-five, .sith-code-one, .sith-code-two, .sith-code-three, .sith-prophecy-of-the-sith, .sith-prophecy-of-the-sith-one, .sith-prophecy-of-the-sith-two {
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
}

#sith-image img {
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.sith-weapons-text {
    background-color: #a32a41;
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

#sith-weapon-header h1 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

#sith-weapon-info {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
}

.page-title-sith {
    background-color: #a32a41;
    width: 850px;
    border-radius: 20px;
    margin-left: 300px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-bottom: 50px;
}

.page-title-sith h1 {
    font-size: 50px;
}

.page-title-sith h2 {
    font-size: 30px;
}

.sith-code-one-container {
    background-color: #a32a41;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin-left: 350px;
    margin-top: 50px;
    width: 800px;
}

#sith-code-one-text {
    text-align: center;
    color: #ffffff;
}

/* END SITH FILES */

/*HERO IMAGES */
.herp-image-house-of-power {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://swtorista.com/articles/wp-content/uploads/2021/12/sith-pureblood-_0026_Layer-5.jpg')
}

.herp-image-house-of-power {
    width: 1200px;
    margin-left: 125px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 2px solid #a32a41;
}

.hero-text-house-of-power {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 25px 25px 25px 25px;
}

/* END HERO IMAGES */

/*RIM CAMPAIGN*/
.sith-rim-campaign-container {
    display: flex;
}

.sith-rim-campaign, .sith-rim-capaign-one, .sith-rim-campaign-two {
    display: flex;
    border: 2px solid #ffffff;
    width: 600px;
    height: 250px;
}

#rim-capaing-photo img {
    width: 300px;
    height: 250px;
}

.rim-capaing-text-box {
    background-color: #a32a41;
    width: 300px;
    height: 250px;
}

#text-rim-campaign h1 {
    font-size: 35px;
    text-align: center;
    color: #ffffff;
}

#text-rim-campaign h2 {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

#rim-campaign-button {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #ffffff;
    text-align: center;
    width: 250px;
    margin-left: 30px;
}

#rim-campaign-button a {
    text-decoration: none;
    color: #ffffff;
}

.sith-rim-capaign-one, .sith-rim-campaign, .sith-rim-campaign-two, .sith-rim-campaign-two {
    margin-left: 60px;
}

.sith-rim-campaign-two {
    margin-top: 30px;
}

/*END OF RIM CAMPAIGN*/

/*POSTS RIM CAPAIGN*/

.sith-rim-capaign-day-one-three-three {
    background-color: #a32a41;
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 1200px;
    margin-left: 100px;
    margin-bottom: 100px;
}

#header-of-rin {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
}

#rest-of-the-text-rim {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/* END OF POSTS RIM CAPAIGN*/